.aboutpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-about {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.info {
    max-width: 20rem;
    margin-bottom: 2rem;
}

.info-text {
    margin-top: 2rem;
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 4px;
    padding: 2rem 1rem 2rem 1rem;
}

.footer {
    background-color: rgba(29, 28, 36, 0.9);
    color: #fff;
    padding: 2rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: auto;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}


.footer-contact p {
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.footer-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    filter: brightness(0) invert(1);
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
    .info-text {
        width: 100vw;
    }

    .openinghours {
        display: none;
    }

    .info-header {
        display: none;
    }

    .footer-contact p {
        margin: 1rem 0;
        padding-bottom: 1rem;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {

    .content-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 8rem;
    }
    
    .openinghours-mobile {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {

    .content-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 8rem;
    }

    .info {
        max-width: 30rem;
    }

    .footer-contact {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
    }
}